@use "../global" as g;

.p-burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    z-index: map-get(g.$df-layer, burger);
    @include g.mq(lg, xl, xxl) {
      width: 100px;
      height: 100px;
    }
  
    &.is-checked {
      .p-burger__bar {
        background-color: #FFFFFF;
        &:nth-of-type(1) {
          top: 35.75px;
          transform: rotate(45deg);
          @include g.mq(lg, xl, xxl) {
            top: 48.75px;
          }
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          top: 35.75px;
          transform: rotate(-45deg);
          @include g.mq(lg, xl, xxl) {
            top: 48.75px;
          }
        }
      }
    }
  }
  
 
  .p-burger__bar {
    position: absolute;
    top: 26px;
    left: 14px;
    width: 35px;
    height: 2px;
    background-color: #121212;
    transition: transform 0.3s linear, top 0.3s linear;
    @include g.mq(lg, xl, xxl) {
      top: 36px;
      left: 25px;
      width: 50px;
    }
    width: 50px;
  
    &:nth-of-type(2) {
      top: calc(26px + 11px);
      @include g.mq(lg, xl, xxl) {
        top: calc(36px + 14px);
      }
    }
    &:nth-of-type(3) {
      top: calc(26px + 11px * 2);
      @include g.mq(lg, xl, xxl) {
        top: calc(36px + 14px * 2);
      }
    }
  }