@use "../global" as g;
.p-footer {
  height: 38px;
  background-color: #121212;
}

.p-footer_inner {
}

.p-footer__bottom {
    text-align: center;
}

.p-footer__copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 38px;
}
