@use "../global" as g;

.p-header {
  width: 100%;
  height: inherit;
}

.p-header__inner {
  margin-left: 16px;
  margin-right: 16px;
  @include g.mq(lg, xl, xxl) {
    margin-left: auto;
    margin-right: auto;
  }
  @include g.mq(lg, xl) {
    width: calc(1520px * 100vw / g.$sz-vw-xxl);
  }
  @include g.mq(xxl) {
    width: 1520px;
  }
  width: 100%;
  height: inherit;
}

.p-header__logo {
  margin-top: 20px;
  a {
    display: inline-block;
    width: 175px;
    img {
    }
  }
}


