@use "../global" as g;

.c-inner {
  margin-left: 16px;
  margin-right: 16px;
  @include g.mq(lg, xl, xxl) {
    margin-left: auto;
    margin-right: auto;
  }
  @include g.mq(lg, xl) {
    width: calc(g.$sz-vw-inner * 100vw / g.$sz-vw-xxl);
  }
  @include g.mq(xxl) {
    width: g.$sz-vw-inner;
  }
}
